# Коллекции: Списки и Кортежи

Коллекция - это переменная-контейнер, в которой может содеражаться некоторое количество объектов.

Эти объекты могут быть одного типа или разных.

# Списки:

- упорядоченный ИЗМЕНЯЕМЫЙ набор объектов;

- поддерживают индексы и срезы;

- поддерживают итерацию;

- имеют встроенные функции и методы

#### Два способа определения пустого списка:

In [13]:
empty_list_1 = []
empty_list_1

[]

In [47]:
empy_list_2 = list()
empy_list_2

[]

#### Создаем список из одинаковых значений с помощью умножения

In [48]:
none_list = [None] * 10
none_list

[None, None, None, None, None, None, None, None, None, None]

In [49]:
love = ['Love'] * 7
love

['Love', 'Love', 'Love', 'Love', 'Love', 'Love', 'Love']

#### Списки могут содержать другие коллекции

In [50]:
beatles = [['John', 1940], ['Paul', 1942], ['George', 1943], ['Ringo', 1940]]
beatles

[['John', 1940], ['Paul', 1942], ['George', 1943], ['Ringo', 1940]]

#### Узнать длину списка

In [51]:
len(beatles)

4

In [52]:
len(love)

7

### Индексы и срезы

С помощью индекса можно получить значение элемента списка, поменять значение элемента списка.

Индекс начинаются с нуля.

Если обратимся по индексу, которого в коллекции не существует, то получим ошибку "list index out of range"

In [53]:
collections = ['list', 'tuple', 'set', 'dict']
len(collections)

4

In [54]:
print(collections[2])

set

In [55]:
print(collections[10])

IndexError: list index out of range

In [56]:
collections[2] = 'frozenset'
collections

['list', 'tuple', 'frozenset', 'dict']

#### С помощью оператора IN проверяем наличие конкретного элемента в списке

In [57]:
'tuple' in collections

True

In [58]:
'John' in beatles

False

In [59]:
['John', 1940] in beatles

True

#### Получаем список из range

In [60]:
range_list = list(range(15))
range_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

#### Операции со срезами списка

In [61]:
range_list[1:5] # Последний не включается

[1, 2, 3, 4]

In [62]:
#Получаем все элементы начиная с некоторого

range_list[3:]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [63]:
#Получаем все элементы по некоторый индекс

range_list[:5]

[0, 1, 2, 3, 4]

In [64]:
# Получаем элементы через одного

range_list[::2]

[0, 2, 4, 6, 8, 10, 12, 14]

In [65]:
# Разворачиваем список в обратном направлении

range_list[::-1]

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### При получении среза у нас создается новый список. Поэтому результат операции IS - есть False

In [66]:
range_list[:] is range_list

False

#### Итерация по элементам списка

In [92]:
collections = ['list', 'tuple', 'dict', 'set']

for item in collections:
    print('Learn {}'.format(item))

Learn list
Learn tuple
Learn dict
Learn set

#### Функция enumerate возвращает индекс и текущий элемент

In [93]:
for indx, item in enumerate(collections):
    print("№{}: {}".format(indx, item))

№0: list
№1: tuple
№2: dict
№3: set

#### +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

### Включения списков

Есть несколько способов создать список из набора чисел. Например, мы хотим сделать список из чисел из диапазона от 1 до 5

#### №01. Долгий и муторный способ: добавляем в список по одному элементу

In [94]:
my_list_1 = []
my_list_1.append(1)
my_list_1.append(2)
my_list_1.append(3)
my_list_1.append(4)
my_list_1.append(5)

my_list_1

[1, 2, 3, 4, 5]

#### №02. Муторный способ: используем итератор и функцию range()

In [85]:
my_list_2 = []
for _ in range(1, 6):
    my_list_2.append(_)
    
my_list_2

[1, 2, 3, 4, 5]

#### №03. Грубый способ: преобразовать в список результат функции range()

In [87]:
my_list_3 = list(range(1, 6))

my_list_3

[1, 2, 3, 4, 5]

#### 04. Элегантный способ: используя включения

Формула включения:

[выражение for выражение in итерабельный объект]

In [90]:
my_list = [tempa for tempa in range(1, 6)]

my_list

[1, 2, 3, 4, 5]

Первая переменная tempa является выражением:

In [96]:
my_list_4 = [tempa / 10 for tempa in range(-6, 6)]

my_list_4

[-0.6, -0.5, -0.4, -0.3, -0.2, -0.1, 0.0, 0.1, 0.2, 0.3, 0.4, 0.5]

#### Включение списка может содержать условие IF

In [98]:
my_list_if = [tempa * 2 for tempa in range(-10, 15) if tempa % 2 == 0]
my_list_if

[-20, -16, -12, -8, -4, 0, 4, 8, 12, 16, 20, 24, 28]

#### Включение списка может содержать несколько FOR

In [100]:
my_list_2for = [(tempa, tempab) for tempa in range (-3, 3) for tempab in range(13, 18) ]
my_list_2for

[(-3, 13),
 (-3, 14),
 (-3, 15),
 (-3, 16),
 (-3, 17),
 (-2, 13),
 (-2, 14),
 (-2, 15),
 (-2, 16),
 (-2, 17),
 (-1, 13),
 (-1, 14),
 (-1, 15),
 (-1, 16),
 (-1, 17),
 (0, 13),
 (0, 14),
 (0, 15),
 (0, 16),
 (0, 17),
 (1, 13),
 (1, 14),
 (1, 15),
 (1, 16),
 (1, 17),
 (2, 13),
 (2, 14),
 (2, 15),
 (2, 16),
 (2, 17)]

#### Каждый FOR может иметь свой IF

In [105]:
my_list_2for_if = [(tempa, tempab) for tempa in range (-3, 3) if tempa % 2 == 0   for tempab in range(13, 18) if tempab % 2 == 1]
my_list_2for_if

[(-2, 13),
 (-2, 15),
 (-2, 17),
 (0, 13),
 (0, 15),
 (0, 17),
 (2, 13),
 (2, 15),
 (2, 17)]

#### +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

#### myList.append() - добавить элемент в список

In [69]:
collections.append('Ordered Dict')
collections

['list', 'tuple', 'dict', 'set', 'Ordered Dict']

#### Два способа объединить два списка: .extend() и +=

In [70]:
collections.extend(['ponyset', 'unicordict'])
collections

['list', 'tuple', 'dict', 'set', 'Ordered Dict', 'ponyset', 'unicordict']

In [71]:
collections += ['poems', 'slazli', 'povest']
collections

['list',
 'tuple',
 'dict',
 'set',
 'Ordered Dict',
 'ponyset',
 'unicordict',
 'poems',
 'slazli',
 'povest']

#### Удаляем элемент списка

In [72]:
del collections[4]
collections

['list',
 'tuple',
 'dict',
 'set',
 'ponyset',
 'unicordict',
 'poems',
 'slazli',
 'povest']

In [73]:
del collections[len(collections)-1]
collections

['list', 'tuple', 'dict', 'set', 'ponyset', 'unicordict', 'poems', 'slazli']

#### Встроенные функции работы со списками: min, max, sum

In [74]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
numbers2 = [item for item in range(1, 19)]
numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [75]:
print(max(numbers))

9

In [76]:
print(min(numbers))

0

In [77]:
print(sum(numbers))

45

#### str.join форматирование

In [79]:
tag_list = ['python', 'course', 'coursera']
print(', '.join(tag_list))

python, course, coursera

In [107]:
myE = (', '.join(tag_list))
type(myE)

str

In [1]:
beatles = ['John', 'Paul', 'George', 'Ringo']
", ".join(beatles)

'John, Paul, George, Ringo'

#### Сортировка значений списка

In [23]:
# создадим список из случайных чисел

import random
numbers = [random.randint(1, 30) for _ in range(random.randint(10, 20))]

print("Всего {} членов".format(len(numbers)))
print("")

print("Сначала неотсортированный список:", numbers)
print("")

print("Теперь отсортированный список:", sorted(numbers))
print("")

print("Покажем что sorted() не inplace", numbers)
print("")

numbers.sort()
print("А теперь c помощью .sort() отсортирован inplace:\n", numbers)
print("")

numbers.sort(reverse = True)
print("Отсортирован в обратном порядке: reverse = True\n", numbers )

Всего 17 членов

Сначала неотсортированный список: [4, 26, 22, 7, 20, 21, 29, 16, 13, 13, 9, 22, 1, 27, 14, 27, 3]

Теперь отсортированный список: [1, 3, 4, 7, 9, 13, 13, 14, 16, 20, 21, 22, 22, 26, 27, 27, 29]

Покажем что sorted() не inplace [4, 26, 22, 7, 20, 21, 29, 16, 13, 13, 9, 22, 1, 27, 14, 27, 3]

А теперь c помощью .sort() отсортирован inplace:
 [1, 3, 4, 7, 9, 13, 13, 14, 16, 20, 21, 22, 22, 26, 27, 27, 29]

Отсортирован в обратном порядке: reverse = True
 [29, 27, 27, 26, 22, 22, 21, 20, 16, 14, 13, 13, 9, 7, 4, 3, 1]

In [29]:
print("+"*120)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

# Кортежи

по сути - это неизменяемые списки

In [30]:
empty_tuple = ()
empty_tuple

()

In [31]:
empty_tuple_2 = tuple()
empty_tuple_2

()